@font-face {
    font-family: 'andalemonoRegular';
    src: url('../fonts/andale-mono-webfont.woff2') format('woff2'),
         url('../fonts/andale-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratMedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronsRegular';
    src: url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
         url('../fonts/ailerons-typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qb0ee');
  src:  url('../fonts/icomoon.eot?qb0ee#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qb0ee') format('truetype'),
    url('../fonts/icomoon.woff?qb0ee') format('woff'),
    url('../fonts/icomoon.svg?qb0ee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin sectionTitle($size: 72px, $color: #fff) {
  margin-bottom: 0.1em;
  color: $color;
  font-family: 'aileronsRegular';
  font-size: $size;
  letter-spacing: -0.12em;
  text-transform: uppercase;
  line-height: 1em;
}

@mixin sectionSubtitle($size: 18px, $color: #efefef) {
  margin-bottom: 2em;
  color: $color;
  font-family: 'montserratLight';
  font-size: $size;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 1.2em;
}

@mixin paragraphTitle($size: 20px, $color: #fff) {
  margin-bottom: 0.8em;
  color: $color;
  font-family: 'montserratMedium';
  font-size: $size;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  line-height: 1.4em;
}

@mixin paragraphText($size: 16px, $color: #fff) {
  color: $color;
  font-family: 'andalemonoRegular', monospace;
  font-size: $size;
  letter-spacing: -0.08em;
  line-height: 1.5em;
}

body {
  background-color: $background;
  color: #fff;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

a {
  color: inherit;
}
