.footer {
  background-color: $secondaryBackground;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 15px 50px;
  }

  .icon {
    color: #fff;
    font-family: "icomoon";
    font-size: 20px;

    &.twitter::after {
      content: "\e100";
    }
    &.youtube::after {
      content: "\e200";
    }
    &.instagram::after {
      content: "\e300";
    }
    &.github::after {
      content: "\e400";
    }
  }

}
