.intro {
  width: 100%;
  height: 100vh;
  background-color: $background;
  @include mainFont(15px, 400, #ffffff);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.intro__title {
  @include mainFont(100px, 400, #ffffff);
  text-transform: uppercase;
  padding: 0 40px;
}

.intro__subtitle {
  @include mainFont(40px, 400, #ffffff);
  text-transform: uppercase;
  padding: 0 0 60px 0;
}

.intro__description {
  background-color: $secondaryBackground;
  width: 400px;
  position: relative;
  left: -400px;
  padding: 50px 50px 50px 5px;
  padding-left: calc(50% + 50px);

  text-align: left;
}

.intro__descriptionTitle {
  @include mainFont(30px, 400, #ffffff);
  text-transform: uppercase;
  border-bottom: 4px solid $brandPrimary;

  padding-bottom: -5px;
}

.intro__desciptionText {

}

.intro__action {
  @include mainFont(30px, 400, #ffffff);
}
