.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  min-height: 100vh;
}

.intro__infos {
  text-align: center;
  @include adapt(1080px) {
    width: 40%;
  }
}

.intro__description {
  position: relative;
  padding: 0 15px;

  @include adapt(1080px) {
    width: 100%;
    padding: 50px 150px 70px 60px;
    background-color: $secondaryBackground;

    &::after {
      content: '';
      height: 100%;
      width: 200px;
      background-color: $background;

      position: absolute;
      top: 0px;
      right: -125px;

      transform: skewX(-20deg);
    }
  }
}

.intro__descriptionTitle {
  display: block;
  position: relative;
  z-index: 0;
  @extend .greatTitle;
  @include paragraphTitle();
  padding: 0 20px;

  @include adapt(1080px) {
    @include paragraphTitle(24px);
    text-align: left;
    padding: 0;
  }
}

.intro__descriptionText {
  @include paragraphText();
  padding: 0 20px;
  text-align: justify;

  @include adapt(1080px) {
    padding: 0;
  }
}

.intro__btn {
  @extend .btn;
  cursor: pointer;

  a::after {
    content: '';
    height: 3em;
    width: 3em;
    background-color: $secondaryBackground;
    border-radius: 140px;

    position: absolute;
    top: 50%;
    left: 0.2em;
    z-index: -1;

    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.intro__btn:hover {
  a::after {
    width: calc(100% - 0.6rem);
    transition: 0.3s;
  }
}

.intro__mars {
  position: relative;
  height: 0px;
  overflow: hidden;

  // &::after {
  //   content: '';
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   // background-color: $brandPrimary;
  //   // background-image: url('../images/mars.png');
  //   background-size: cover;
  // }
  //
  // @include adapt(1080px) {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0px;
  //   height: 800px;
  //   width: 800px;
  //
  //   &::after {
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: bottom;
  //
  //     transform: translate(200px, 200px);
  //   }
  // }
}
