.intro {
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.intro__title {
  @include sectionTitle();

  text-transform: uppercase;

  @include adapt(1080px) {
    @include sectionTitle(112px);
  }
}

.intro__subtitle {
  @include sectionSubtitle();

  text-transform: uppercase;

  @include adapt(1080px) {
    @include sectionSubtitle(24px);
  }
}

.intro__description {
  // background-color: $secondaryBackground;

  position: relative;
  text-align: justify;
}

.intro__descriptionTitle {
  @include paragraphTitle();

  @include adapt(1080px) {
    @include paragraphTitle(24px);
  }
}

.intro__descriptionText {
  @include paragraphText();
}
