.result, .exp__intro, .exp__quizz {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.exp__planet {
  position: relative;
  width: 100%;
}

.planet__three1, .planet__three2, .planet__three3, .planet__three4 {
  position: absolute;
  width: 100%;
  height: 100%;
}
