.result {
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.exp__result, .exp__graph {
  padding: 0 20px;
}

.exp__resultTitle {
  @include paragraphTitle();
  @include adapt(1080px) {
    @include paragraphTitle($size: 34px);
  }
}

.exp__infos {
  display: flex;
  flex-direction: column;
  @include paragraphTitle(16px);
  @include adapt(1080px) {
    flex-direction: row;
    justify-content: center;
  }

  .exp__infosStatut, .exp__infosJourney, .exp__infosPopulation {
    position: relative;
    margin-top: 30px;
    @include adapt(1080px) {
      padding: 0px 50px;
    }
  }

  .exp__infosStatut {
    color: $brandPrimary;
    font-weight: 700;
  }

  .exp__infosJourney::before, .exp__infosPopulation:before {
    @include adapt(1080px) {
      position: absolute;
      width: 100%;
      top: -60%;
      left: 50%;
      color: rgba($brandSecondary, 0.6);
      font-size: 42px;
      transform: translate(-50%);
      z-index: -5;
    }
  }
  .exp__infosJourney::before {
    @include adapt(1080px) {
      content: attr(data-journey);
    }
  }

  .exp__infosPopulation:before {
    @include adapt(1080px) {
      content: attr(data-pop);
    }
  }
}

.exp__resultText {
  margin: 25px auto 50px auto;
  max-width: 600px;
  @include paragraphText($color: $brandSecondary);
}

.result__graphTitle {
  margin-top: 75px;
  @include paragraphTitle(18px);

  @include adapt(1080px) {
    @include paragraphTitle(34px);
  }
}

.result__graphSubtitle {
  @include paragraphTitle(14px, $brandSecondary);

  @include adapt(1080px) {
    @include paragraphTitle(22px, $brandSecondary);
  }
}

.result__graphZone {
  position: relative;
  margin: 50px auto 100px auto;
  height: 400px;
  max-width: 800px;
  // background-color: $brandSecondary;
  display: flex;
  flex-direction: column;

  @include adapt(1080px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border-left: 2px solid $brandSecondary;
    border-bottom: 2px solid $brandSecondary;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: 12px solid transparent;
      border-bottom-color: $brandSecondary;

      transform: translate(-50%, -100%);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border: 12px solid transparent;
      border-left-color: $brandSecondary;

      transform: translate(100%, 50%);
    }
  }

  .category__value {
    position: relative;
    height: 50px;
    background-color: $brandPrimary;

    &::before {
      content: attr(data-value);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }

    @include adapt(1080px) {
      height: 250px;

      &::before {
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  .category__name {
    @include paragraphText($brandSecondary);
    padding: 10px;
    text-align: left;

    @include adapt(1080px) {
      text-align: center;
    }
  }
}

.exp__authorsTitle, .exp__conceptTitle, .exp__missionTitle, .exp__moreTitle, .moreArticle__Title {
  margin-top: 34px;
  @include paragraphTitle(18px);

  @include adapt(1080px) {
    @include paragraphTitle(20px);
  }
}

.exp__project {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  @include adapt(1080px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.exp__projectAuthors {
  text-align: left;
  padding: 0 20px;
  @include adapt(1080px) {
    width: 400px;
  }

  .exp__author {
    margin-bottom: 20px;

    &.juliette .author__img { background-image: url('../app/images/juliette.jpg'); }
    &.clement .author__img { background-image: url('../app/images/clement.jpg'); }
    &.yann .author__img { background-image: url('../app/images/yann.jpg'); }
    &.aurelien .author__img { background-image: url('../app/images/aurelien.jpg'); }
    &.lv .author__img { background-image: url('../app/images/lv.jpg'); }
  }

  .author__img {
    height: 60px;
    width: 60px;
    background-color: $brandPrimary;
    border-radius: 50%;
    float: left;
    clear: both;
    margin-right: 15px;

    background-size: cover;
  }

  .author__id {
    padding-top: 10px;
    height: 60px;

    @include adapt(1080px) {
      min-width: 600px;
    }

    .author__name {
      @include paragraphTitle(16px);
      margin-bottom: 3px;
    }

    .author__job {
      @include paragraphTitle(14px, $brandSecondary);
      font-family: 'montserratLight';
      margin-bottom: 0;
    }
  }
}

.exp__projectContext {
  @include adapt(1080px) {
    max-width: 800px;
  }
}

.exp__concept {
  text-align: left;
  padding: 0 20px;

  .exp__conceptText {
    @include paragraphText($color: $brandSecondary);
  }
}

.exp__mission {
  text-align: left;
  padding: 0 20px;

  .exp__missionText {
    @include paragraphText($color: $brandSecondary);
  }
}

.exp__more {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: left;
  padding: 0 20px;

  .articles__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include adapt(1080px) {
      flex-wrap: nowrap;
    }
  }

  .moreArticle {
    margin-top: 42px;
    margin-bottom: 10px;
    margin: 42px 5px 10px 5px;
    max-width: 350px;
  }

  .exp__moreText, .moreArticle__Text {
    @include paragraphText($color: $brandSecondary);
  }

  .exp__moreText {
    max-width: 500px;
  }

  .moreArticle__img {
    margin-bottom: -15px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 5px solid $secondaryBackground;

    &.nasa {
      background-image: url('../app/images/mars-nasa.jpg');
      background-position: top;
    }

    &.spacex {
      background-image: url('../app/images/space-x.jpg');
    }

    &.national {
      background-image: url('../app/images/rover-2020.jpg');
    }
  }
}

.share__twitter {
  width: 100px !important;
  height: 40px !important;
  font-size: 2rem !important;
  color: red !important;
  background-color: orange;
}
